<div class="container" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <div class="form-horizontal no-border form u-dimension-2"  style ="margin-top: 20px; width: 450px;"align="center" >
<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
     <h2 align="center">Sign in </h2>
      
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :email %>
         
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.label :password %>
         
          <%= f.password_field :password, autocomplete: "current-password",class: 'form-control'%>
        </div>
      </div>


      <div class="form-group">
          <div class="col-sm-12">
        <%= f.submit "Log in", class: 'submitBtn btn btn-block btn-success btn', id: 'modal-submit' %>
      </div>
      </div>
      
      <div class="clearfix" style="width: 350px;">
         <%= f.label :remember_me %><%= f.check_box :remember_me %> 
            <%= link_to "Forgot password?",  spree.recover_password_path , :class => 'forgot_pwd'%>
      </div>
     


    <p align = "center">or</p>
      
   
    <div class="form-group" >
      <div class="col-sm-12">
        <a href="/spree_user/auth/google_oauth2" class="submitBtn btn btn-google btn-block btn-danger btn">Sign in with Google</a>
        </div>
    </div>
    <div class="form-group" >
      <div class="col-sm-12">

          <a href="/spree_user/auth/facebook" class="submitBtn btn  btn-block btn-primary btn">Sign in with Facebook</a></div>
    </div>
  <%= link_to Spree.t(:create_a_new_account), spree.signup_path %>
    <% end %>
    
  </div>

</div> 


<style type="text/css">
    #top-nav-bar {
    text-align: right;
    margin-top: 0px;
  }

  .container .ten.columns {
     width: 700px;
  }
  .form-group{
    width:356px;
  }

  .form{
  

    padding-top: 30px;
    padding-bottom: 50px;
  }
  .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }

  

  #user_remember_me{  
    margin-right:0px;
  }
  .forgot_pwd{
    padding-left: 90px;
  }

  a:hover{
      text-decoration-line: none;

  }

  #flash_alert{
    color: red;
  }




  #form_email{
  margin-left: 23px;
}



#sign_in_from{
  margin-left: 400px;
}

/*.new_user{
  margin-top: 100px;
}*/

.form {
  margin: 0 auto;
  width: 470px;
  background-color: white;
  padding-left: 0px;
}

.form label {
    display: inline-block;
    text-align: right;
    float: left;
     
}

.modal_form{
  margin-top: 0px;
}

.homepage_dish{
    height: 100%;
    width: 50%;
    position:fixed;
  }
  
  .login{
    padding-right: 20px;
    color:#0066ff;
    font-size: 20.3px;
    line-height: 1.44359;
    border: 0px;
    font-weight:700;


  }

  .login a:hover{

  }

  .signup{
    padding-right: 100px;
      color:#0066ff;
    
    font-size: 20.3px;
    line-height: 1.44359;
    border: 0px;
      font-weight:700;


  }

  .top-left {
  position: absolute;
  top:450px;
  left:10px;
  color: #f79b9b;
  font-size: 50px;
  font-weight: 900;

}

 .top-left:hover{
  color: #f79b9b;
}

.bottom-right {

}
.bottom_img{
  width: 300px;
  height: 300px;
}
.main_header{
  font-weight: 800;
  font-size:40px;
  color: black;
}

a:hover{
  text-decoration-line: none;
  
}

.u-dimension-2 {
    box-shadow: 0 0 0 1px rgba(67,41,163,.1), 0 1px 8px 0 rgba(67,41,163,.1);
}
</style>


